<section>
    <h3>404 | Page not found</h3>

    <div class="btn">
        <a>Go to Login</a>
    </div>
</section>

<style>
    section {
        display: grid;
        place-items: center;
        width: 100vw;
        height: 100vh;
        padding: 0 60px;
    }

    section .btn {
        background-color: purple;
        height: 30px;
        padding: 10px 100px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn a {
        color: white;
        text-decoration: none;
    }
</style>