<section>
    <form action="">
        <h2>Connexion</h2>
        <div>
            <span>Pseudo</span>
            <input type="text" placeholder="Votre pseudo">
        </div>

        <div>
            <span>Mot de passe</span>
            <input type="password" placeholder="Votre cle d'acces">
        </div>

        <div class="btn_group">
            <button type="submit">
                <a routerLink="">Se connecter</a>
            </button>

            <button>
                <a routerLink="">Visiter</a>
            </button>
        </div>
    </form>
</section>